@font-face {
    font-family: "Tungsten-Bold";
    src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot");
    src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.svg#Tungsten Bold") format("svg");
    font-display: swap;
}

html {
    height: 100%;
    background-color: #0f1923;
}

body {
    min-height: 100%;
    height: 100%;
}

.container {
    color: #FD4556;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    font-size: 5.5rem;
}

.mainPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

.title {
    color: #FFFBF5;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.arrow-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 1.5rem;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    cursor: pointer;
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }

    50% {
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

@keyframes a {
    0% {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }

    50% {
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

.arrow-down svg {
    fill: #ece8e1;
    -webkit-animation: a 4s ease-in-out infinite;
    animation: a 4s ease-in-out infinite;
}

.arrow-down svg:hover {
    fill: #FD4556;
}

.about-page {
    position: relative;
    background-color: #ece8e1;
}

.about-title {
    display: block;
    padding-left: calc(8.33333% + 0.25rem);
    color: #0f1923;
    text-transform: uppercase;
}

.about-page p {
    font-family: OpenSans, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #768079;

}

.about-page-content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.about-page-content::before {
    content: "";
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    top: 0;
    left: 2%;
    background-color: #ff4655;
}

@media (min-width:1024px) {
    .about-page-content>.text-container {
        margin-left: calc(16.66667% + 0.5rem);
        max-width: calc(25% - 2.25rem)
    }

    .about-page-content>.right-side {
        width: calc(50% - 1.5rem);
        position: relative;
        margin: 1rem 0 0 calc(8.33333% + 3.25rem - 1px);
    }

    .elem-improve-graph {
        max-width: calc(75% - 2.25rem);
    }

    .elem-rank-improve-bar>img {
        width: 75.6px;
    }

    .rank-bar {
        width: 63px;
    }
}

@media (max-width:1024px) {
    .about-page-content {
        margin: 1rem;
    }

    .right-side {
        margin: auto;
    }

    .quote {
        font-size: 3rem;
    }

    .elem-rank-improve-bar>img {
        width: 4rem;
    }

    .rank-bar {
        width: 3rem;
    }
}

.about-page-content>.text-container::before {
    content: "";
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    top: 65%;
    left: 10%;
    background-color: #ff4655;
}

.about-page-content>.right-side::before {
    content: "";
    display: block;
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    top: -20%;
    left: -5%;
    background-color: #ff4655;

}

[data-inviewport="slideUp"] {
    transition: 2s;
    transform: translateY(115%);
}

[data-inviewport="slideUp"].is-inViewport {
    transform: translateY(0);
}

/*btn style source : https://codepen.io/Axiol/pen/mdeyWwQ */
.quote {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */

    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);

    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.quote::before,
.quote::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

.quote::before {
    top: 0;
    border-bottom-width: 0;
}

.quote::after {
    bottom: 0;
    border-top-width: 0;
}

.quote:active,
.quote:focus {
    outline: none;
}

.quote:active::before,
.quote:active::after {
    right: 3px;
    left: 3px;
}

.quote:active::before {
    top: 3px;
}

.quote:active::after {
    bottom: 3px;
}

.quote__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.quote__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
}

.quote__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
}

.quote__content {
    position: relative;
}


.quote--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
}

/*end btn style*/

.share {
    display: none;
    font-size: 1rem;
}


/*Rank no improve*/
.elem-improve-graph {
    color: #272727;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    font-family: ars-maquette-web, "Helvetica Neue", Helvetica, Arial;
    border-top: 1px solid rgba(15, 25, 35, .4);
    padding-top: 2rem;
}

.elem-rank-improve-bar {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.elem-rank-improve-bar>img {
    filter: drop-shadow(rgb(173, 254, 120) 0px 0px 8px) drop-shadow(rgb(173, 254, 120) 0px 0px 8px);
    opacity: 1;
    transition: all 100ms ease 0s;
}

.time-rank-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    border-top: 2px solid rgb(153, 153, 153);
    width: 100%;
    height: 45px;
    align-items: center;
}

.text-time {
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    transition: all 100ms ease 0s;
    font-weight: bold;
    text-transform: uppercase;
    /* color: rgb(255, 204, 0); */
    font-size: 12px;
}

.text-rank {

    margin-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff4655;
    font-size: 12px;
}

.rank-bar {
    margin-top: 10px;
    background: linear-gradient(rgb(173, 254, 120) 0%, rgb(50, 89, 99) 100%);
    height: 67px;
    transition: all 450ms ease 0s;
}