@font-face {
    font-family: "Tungsten-Bold";
    src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot");
    src: url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.woff") format("woff"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/561f38b1f4570de0fb8a39d691ab058c.svg#Tungsten Bold") format("svg");
    font-display: swap;
}

html {
    height: 100%;
    background-color: #0f1923;
}

body {
    min-height: 100%;
    height: 100%;
}

.container {
    color: #FD4556;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    font-size: 5.5rem;
}

.mainPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

.title {
    color: #FFFBF5;
    font-family: Tungsten-Bold, arial, georgia, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.arrow-down {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 1.5rem;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    cursor: pointer;
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }

    50% {
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

@keyframes a {
    0% {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }

    50% {
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

.arrow-down svg {
    fill: #ece8e1;
    -webkit-animation: a 4s ease-in-out infinite;
    animation: a 4s ease-in-out infinite;
}

.arrow-down svg:hover {
    fill: #FD4556;
}

.aboutPage {
    position: relative;
    background-color: #ece8e1;
}

.about-title {
    display:block;
    padding-left: calc(8.33333% + 0.25rem);
    color:#0f1923;
    text-transform: uppercase;
}

.aboutPage p {
    margin-left: calc(16.66667% + 0.5rem);
    font-family: OpenSans,sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color:#768079;

}

[data-inviewport="slideUp"] {
    transition: 2s;
    transform: translateY(115%);
}

[data-inviewport="slideUp"].is-inViewport {
    transform: translateY(0);
}

/*btn style source : https://codepen.io/Axiol/pen/mdeyWwQ */
.quote {
    /* Clean style */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    color: var(--button-text-color);
    cursor: pointer;
    /* Clean style */

    --button-text-color: var(--background-color);
    --button-text-color-hover: var(--button-background-color);
    --border-color: #7D8082;
    --button-background-color: #ece8e1;
    --highlight-color: #ff4655;
    --button-inner-border-color: transparent;
    --button-bits-color: var(--background-color);
    --button-bits-color-hover: var(--button-background-color);

    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.quote::before,
.quote::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid var(--border-color);
    transition: all .15s ease;
}

.quote::before {
    top: 0;
    border-bottom-width: 0;
}

.quote::after {
    bottom: 0;
    border-top-width: 0;
}

.quote:active,
.quote:focus {
    outline: none;
}

.quote:active::before,
.quote:active::after {
    right: 3px;
    left: 3px;
}

.quote:active::before {
    top: 3px;
}

.quote:active::after {
    bottom: 3px;
}

.quote__inner {
    position: relative;
    display: block;
    padding: 20px 30px;
    background-color: var(--button-background-color);
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.quote__inner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: var(--button-bits-color);
}

.quote__inner::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: var(--button-bits-color);
    transition: all .2s ease;
}

.quote__content {
    position: relative;
}


.quote--light {
    --button-background-color: var(--background-color);
    --button-text-color: var(--highlight-color);
    --button-inner-border-color: var(--highlight-color);
    --button-text-color-hover: #ece8e1;
    --button-bits-color-hover: #ece8e1;
}

/*end btn style*/

.share {
    display: none;
}